networks:
  Inception:
    name: Inception
    driver: bridge

volumes:
  wordpress:
    driver: local
    driver_opts:
      device: '/home/zz/data/wordpress'
      o: 'bind'
      type: 'none'
  mariadb:
    driver: local
    driver_opts:
      device: '/home/zz/data/mariadb'
      o: 'bind'
      type: 'none'

services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - Inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - Inception
    restart: always

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports:
      - 443:443
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - Inception
    restart: always
